.navbar-container{ 
  position: fixed;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;

  box-shadow: rgb(90 95 102) 0-1.5px 0 inset;

  z-index: 300;
}
.navbar{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* responsive */
  height: 80px;
  width: 100%;

  padding: 0 24px;
  margin: 0;

}



.navbar-brand{
   display: flex;
  align-items: center;

  height: 100%;

  /* responsive */

  margin-right: 64px;
}

.navbar-logo {
  height: 3.2rem;
}

.navbar-tabs{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
}
.navbar-tab{
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-right: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
}
.navbar-tab:hover{
  opacity: 0.7;
}

.navbar-tab--active{
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 4px;
  text-underline-offset: 8px;
}

.navbar-link{
  display: flex;
  align-items: center;
  height: 100%;
 
}

.navbar-buttons button{
 margin-left: 1.5em;
 margin-right: 2em;
}

.navbar-buttons {
  display: flex;
  margin-left: 24px; 
}